[run]
source = .
omit = 
    */venv/*
    */env/*
    */migrations/*
    manage.py
    */settings/*
    */tests.py
    */test_*.py
    */__pycache__/*
    */static/*
    */media/*
    */templates/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError

[html]
directory = htmlcov